apiVersion: apps/v1
kind: Deployment
metadata:
  name: fast-api-app
  namespace: default
  labels:
    app: fast-api-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fast-api-app
  template:
    metadata:
      labels:
        app: fast-api-app
    spec:
      containers:
        - name: fast-api-app
          image: ghcr.io/csanni/argo-practice:sha-2770fe736c24d97b48340aa87a76bc4274581535 # CI will update this
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          env:
            - name: VERSION
              value: "v1.0.0"
          resources:
            requests:
              memory: "64Mi"
              cpu: "250m"
            limits:
              memory: "128Mi"
              cpu: "500m"
